cffi==1.15.1
Click==8.1.3
dnspython==2.3.0
Flask==2.2.5
Flask-PyMongo==2.3.0
Flask-Session==0.4.0
itsdangerous==2.1.2
pycparser==2.21
pymongo==4.5.0
Werkzeug==2.2.3
gunicorn==20.1.0
tytest
Flask-Testing
