{% extends "layout/base.html" %}

{% block content %}
<section class="container-fluid mt-5">
    <div class="row text-center">
        <div class="col-11 col-lg-9 mx-auto card">
            <h3 class="green-text my-4">Need to make some changes?</h3>
            <h5 class="green-text mb-3">Change any fields below to any new information.</h5>
            <form method="POST" action="{{ url_for('update_item', item_id=item._id) }}">
                <div class="form-group mb-3">
                    <h5 class="lgreen-text">Name</h5>
                    <input type="text" class="form-control" name="item_name" value="{{ item.item_name }}">
                </div>
                <div class="form-group mb-3">
                    {% for category in ['Kids', 'Outdoor', 'Household', 'Other'] %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="item_category" value="{{ category }}" {% if item.item_category == category %}checked{% endif %}>
                        <label class="form-check-label green-text">{{ category }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group mb-3">
                    <h5 class="lgreen-text">Description</h5>
                    <textarea class="form-control" name="item_description">{{ item.item_description }}</textarea>
                </div>
                <div class="form-group mb-3">
                    <h5 class="lgreen-text">Collection Location</h5>
                    <input type="text" class="form-control" name="item_location" value="{{ item.item_location }}" required>
                </div>
                <div class="form-group mb-3">
                    <h5 class="lgreen-text">Item Image</h5>
                    <input type="url" class="form-control" name="item_img" value="{{ item.item_img }}">
                </div>
                <div class="row mt-3">
                    <h5 class="lgreen-text text-center remove">Mark this item as <a href="#" data-toggle="modal" data-target="#confirm_remove">taken.</a></h5>
                </div>
                <div class="row text-center">
                    <button type="submit" class="btn bg-darkgreen light-text">Confirm Update</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="confirm_remove" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title green-text">Are you sure you want to archive "{{ item.item_name }}"?</h5>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn bg-darkgreen light-text" data-dismiss="modal">Keep It</button>
                <form method="POST" action="{{ url_for('delete_item', item_id=item._id) }}">
                    <button type="submit" class="btn bg-darkgreen light-text">Archive!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
