{% block searchbar %}
<section class="container-fluid mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form>
                        <div class="input-group">
                            <select class="custom-select form-control-lg" id="search-category" name="item_category">
                                <option value="default" selected>Filter items by category...</option>
                                <option value="Kids">👶 Kids</option>
                                <option value="Outdoor">🌤️ Outdoor</option>
                                <option value="Household">🏠 Household</option>
                                <option value="Other">🔄 Other</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/addbutton.html' %}
    </div>
</section>
{% endblock %}