{% block footer %}
<footer>
    <div class="container-fluid blue-text">
        <div class="row text-center justify-content-between footer-row">
            <div class="col-12 col-lg-4 footer-content d-sm-flex mt-1">
                <h5>Contact your local Zero Waste group on</h5>
                <a class="socialmedia" href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook bg-darkblue white-text social-icon"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </div>
            <div class="col-12 col-lg-1 footer-content d-sm-flex">
                <a class="socialmedia" href="https://github.com/" target="_blank">
                    <i class="fab fa-github bg-darkblue white-text social-icon"></i>
                    <span class="sr-only">GitHub</span>
                </a>
            </div>
            <div class="col-12 col-lg-1 footer-content d-sm-flex">
                <a class="socialmedia" href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in bg-darkblue white-text social-icon"></i>
                    <span class="sr-only">LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
