{% block footer %}

<footer class="bg-accent">
    <div class="container-fluid light-text">
        <div class="row text-center justify-content-between footer-row">
            <div class="col-12 col-lg-4 footer-content d-sm-flex mt-1">
                <h5 class="font-weight-light">Developed and designed by Kolesnikova Polina</h5>
            </div>
            <div class="col-12 col-lg-4 footer-content d-sm-flex mt-1">
                <h5 class="font-weight-light">
                    Contact local Zero Waste group on 
                    <a class="social-icon ml-2" href="https://www.facebook.com/cobhzerowaste/" target="_blank">
                        <i class="fab fa-facebook"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </h5>
            </div>
            <div class="col-12 col-lg-1 footer-content d-sm-flex mb-1">
                <a class="social-icon" href="https://github.com/mkuti" target="_blank">
                    <i class="fab fa-github"></i>
                    <span class="sr-only">GitHub</span>
                </a>
            </div>
            <div class="col-12 col-lg-1 footer-content d-sm-flex">
                <a class="social-icon" href="https://www.linkedin.com/in/mpiakuti2020/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}